html {
	overflow: auto !important;
}

body {
	overflow: auto !important;
}

a {
	text-decoration: inherit;
	color: inherit;
}

#widgetChart {
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

#widgetSettings {
	border: 2px #BDBDBD solid;
	border-radius: 5px;
	padding: 10px;
	background-color: #FDFDFD;
}

#statusBar {
	position: absolute;
	top: 10px;
	left: 0px;
	display: none;
	width: 100%;
}
