table,input,form,select,textarea,button {
	font-family: inherit;
	color: inherit;
	font-size: 100%;
}

html {
	height: 100%;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #565E6C;
	background-color: #ffffff;
}

#widgetSettings, #widgetChart {
	overflow-x: hidden;
	overflow-y: auto;
}
